.item-box-components {
  background-color: white;
  width: 30%;
  height: 10vh;
  display: flex;
  gap: 20px;
  img {
    width: 30%;
    height: 90%;
  }
}

.item-box-details {
  color: black;
  display: flex;
  flex-direction: column;
  p {
    font-size: 10px;
  }
}