.item-box-components {
  color: white;
  background-color: white;
  width: 30%;
  height: 7vh;
  display: flex;
  gap: 20px;
  border-radius: 2px;
  align-items: center;
  img {
    width: 10%;
    height: 40%;
    margin: 5px;
  }
}

.item-box-details {
  color: black;
  display: flex;
  flex-direction: column;
  p {
    font-size: 10px;
    line-height: 4px;
  }
}

.rare {
  color: rgb(15,91,215); /* 하늘색 */
}

.epic {
  color: purple; /* 보라색 */
}