.character-equipped-box {
  width: 50vw;
  height: 66vh;
  background-color: black;
  margin-left: 20px;
  border-radius: 10px;
  .button-box {
    width: 100%;
    height: 30px;
    button {
      width: 50%;
      height: 100%;
      cursor: pointer;
      border: none;
      color: white;
      border-radius: 5px;
      background-color: rgb(54,54,54);
      transition: 0.3s ease;
    }
    button:hover {
      background-color: black;
    }
  }
}